@model URLShortener.Models.ApplicationUser
<div class="container">
    <div>
        <p>
            <h2 class="post-title">
                @Model.UserName
            </h2>
        </p>
        <p>
            <h3 class="post-subtitle">
                @Model.Email
            </h3>
        </p>
    </div>
    <p>
        @Html.RouteLink("BookMarks", new { UserName = Model.UserName }) |
        @Html.ActionLink("Home", "Index", "Home") |
    </p>
</div>