@model URLShortener.Models.ApplicationUser

@{
    ViewBag.Title = "List";
}

<div class="container">
    <h2>User List</h2>
    <table class="table">
        <tr>
            <th>
                UserName
            </th>
            <th>
                Email
            </th>
            <th>
                User's BookMarks
            </th>

        </tr>

        @foreach (var user in ViewBag.AllUsers)
            {
            <tr>
                <td>
                    @user.UserName
                </td>
                <td>
                    @user.Email
                </td>
                <td>
                    @Html.RouteLink("u/" + (string)user.UserName, new { username = user.UserName })
                </td>
            </tr>
        }

    </table>
    <p>
        @Html.ActionLink("Home", "Index", "Home")
    </p>

</div>
